body {
  background-color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: Georgia, Times, serif;
  font-size: 19px;
  font-weight: 100;
  letter-spacing; -0.19px;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  color: rgb(21, 23, 26);
}

A:link {text-decoration: none; color: rgb(21, 23, 26);}
A:visited {text-decoration: none; color: rgb(21, 23, 26);}
A:active {text-decoration: none; color: rgb(21, 23, 26);}
A:hover {text-decoration: none; color: rgb(21, 23, 26);}
a:focus {outline: 0;}



/* Site nav */

.site-nav{
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
  font-weight: 500;
  position: fixed;
  width: 100vw;
  z-index: 100;
  background-color:rgba(255,255,255,.6);
  backdrop-filter:blur(60px);
  -webkit-backdrop-filter:blur(60px);
}

.site-nav a:active{
  opacity: 0.7;
}

.site-nav-left{
  float: left;
  margin-left: 20px;
	display: flex;
	align-items: center;
	height: 80px;
}

.site-nav-right{
  float: right;
  margin-right: 20px;
  font-size: 19px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
}
  
.site-nav-regular{
  opacity: 1.0;
  border-radius: 100px;
  padding: 7px 16px 8px 16px;
  margin: 0 4px 0 4px;
  transition: 0.3s;
}

.site-nav-regular:hover {
  background-color: rgba(120, 120, 128, 0.24);
  border-radius: 100px;
  transition: 0.3s;
}

.hello {
  background-color: #000073;
  color: white;
  margin: auto;
  padding-top: 12px;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.16); 
  transition: 0.3s;
  opacity: 1.0;
  border-radius: 100px;
  padding: 7px 16px 8px 16px;
  margin: 0 4px 0 20px;

}

.hello:hover {text-decoration: none;}
.hello:link {text-decoration: none; color: white;}
.hello:visited {text-decoration: none; color: white;}
.hello:active {text-decoration: none; color: white;}
.hello:focus {outline: 0;}
.hello:hover {
  background-color: rgba(0, 0, 116, 0.69);		  
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  text-decoration: none;
}



/* Site nav responsive */

@media (max-width: 1112px){
  .site-nav-left, .site-nav-right{
  	height: 72px;
  }
}


@media (max-width: 640px){

  .site-nav-left, .site-nav-right{
  	height: 64px;
  }
  
  .site-nav-left, .site-nav-right{
    margin-left: 8px;
    margin-right: 8px;
  }

  .filibaba-logo img{
    width: 48px;
    height: auto;
  }   

  .site-nav-regular, .hello {
    font-size: 15px;
    margin: 0 2px 0 2px;
    padding: 7px 10px 8px 10px;
  }
}

@media (max-width: 360px){
  .filibaba-logo{
    display: none;
  }
  
  .site-nav-regular {
    margin: 0 1px 0 1px;
  }
}










	
h1 {
  font-family: -apple-system-ui-serif, ui-serif, 'Georgia', serif;
  font-size: 64px;
  color: #000073;
}

h2 {
  font-family: -apple-system-ui-serif, ui-serif, 'Georgia', serif;
  font-size: 48px;
}

h3 {
  font-family: -apple-system-ui-serif, ui-serif, 'Georgia', serif;
  font-size: 22px;
}

.footnote {
  font-size: 16px;
  font-weight: 300;
}

.name {
  margin-top: 24px;
  font-size: 19px;
  font-weight: 600;  
}

.title {
  margin-top: 6px;
  font-size: 17px;
  opacity: 0.7;
}

p {
  line-height: 1.7;
  width: 1000px;
  text-align: left;
  margin: auto;
}

.logo {
  padding-top: 88vh;
  margin-bottom: -60vh;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  height: 176px;
  transform: translate(-50%, -60%);
}

.chevron {
  display: block;
  margin: 0;
  padding: 0;
}

.logo-animation {
  will-change: transform;  
  animation: blur 4s infinite;
  animation-timing-function: cubic-bezier(.14,.93,.04,.99);
}

.logo-animation-small {
  margin-top: -40px;
  margin-left: 8px;
  will-change: transform;  
  animation: blur-small 4s infinite;
  animation-timing-function: cubic-bezier(.14,.93,.04,.99);
}

.green {
  will-change: transform;  
  position: absolute;
  animation: green 4s infinite;
  animation-timing-function: cubic-bezier(.14,.93,.04,.99);
}

.pink {
  will-change: transform;  
  mix-blend-mode: multiply;
  position: absolute;
  animation: pink 4s infinite;
  animation-timing-function: cubic-bezier(.14,.93,.04,.99);
}

.green-small {
  will-change: transform;  
  position: absolute;
  animation: green-small 4s infinite;
  animation-timing-function: cubic-bezier(.14,.93,.04,.99);
}

.pink-small {
  will-change: transform;  
  mix-blend-mode: multiply;
  position: absolute;
  animation: pink-small 4s infinite;
  animation-timing-function: cubic-bezier(.14,.93,.04,.99);
}

.wordmark {
  margin-left: 181px;
  margin-top: 44px; 
  position: absolute;
}

.h1 {
  margin-left: 181px;
  margin-top: 44px; 
  position: absolute;
}

.tagline {
  width: 1000px;
  margin: auto;
  padding-top: 188px;
  margin-bottom: 72px;
  text-align: left;
}

.intro {
  margin-top: 64px;
  margin-bottom: 64px;
}

.hereweare {
  display: flex;
  align-items: top;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
  margin-bottom: 48px;
}

.headshot {
  width: 164px;
  height: 164px;
  border-radius: 100px;
}

.person {
  text-align: center;
  margin: 24px;
}

.fromtheblog {
  margin-top: 64px;
  padding-top: 32px;
/*   border-top: 8px solid rgba(0, 0, 0, 0.04); */
}

.blog-cards {
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1368px;
  margin: auto;
  margin-bottom: 40px;
}

.blog-cards A:link {text-decoration: none; color: rgb(21, 23, 26);}
.blog-cards A:visited {text-decoration: none; color: rgb(21, 23, 26);}
.blog-cards A:active {text-decoration: none; color: rgb(21, 23, 26);}
.blog-cards A:hover {text-decoration: none; color: rgb(21, 23, 26);}
.blog-cards A:focus {outline: 0;}

.blog-card {
  background-color: white;
  border-radius: 32px;
  padding: 32px;
  margin: 16px;
  max-width: 360px;
  min-height: 260px;
  text-align: left;
  box-shadow:0 8px 32px rgba(44, 49, 93, 0.12);
}

.blog-card img {
  border-radius: 4px;
}

.blog-card p {
  width: auto;
}

.card-margins {
  margin-top: -40px;
  margin-left: 52px;
  margin-right: 52px;
  margin-bottom: 128px;
}

.card {
  text-align: left;
  margin: auto;
  margin-top: 94px;
  margin-bottom: 94px;
  border-radius: 52px;
  overflow: hidden;
  max-width: 1336px;
  min-height: 300px;
  box-shadow: 0px 16px 52px rgba(44, 49, 93, 0.12);
}

.card img {
  width: 100%;
  height: auto:
}

.card h2 {
  padding: 0 52px 0px 52px;
}

.card p {
  padding: 0px 52px 80px 52px;
  max-width: 900px;
  margin: 0;
}

.card a:link, 
.card a:visited, 
.card a:active, 
.card a:focus {
	text-decoration: none;
	color: rgb(21, 23, 26);
	outline: 0;
}

.card a:hover {
	text-decoration: underline;
}

.nodescription h1 {
  padding-bottom: 32px;
}

.worked-with {
  width: 1000px;
  margin: auto;
}

.logos {
  margin-top: 52px;
  margin-bottom: 64px;
  width: 80%;
  max-width: 669px;
  height: auto;
}

.bend {
  bottom: -1px;
  height: auto;
  width: 102vw;
  left: -1vw;
  margin-top: -1px;
  margin-bottom: 16px;
}

.social-footer {
  padding: 0;
  margin: 0;
}

.social-footer img {
  margin: 24px 22px 24px 22px;
}

footer {
  font: -apple-system-footnote;
  font-size: 11px;
  text-align: center;
  color: rgba(0, 0, 0, 0.56);
  padding-bottom: 24px;
  overflow: hidden; 
  background-color: #f2f5fd;
  margin-top: 60px;
}

.copyright-notice, .copyright-notice p {
  width: auto;
  text-align: center;
  margin-left: 16px;
  margin-right: 16px;  
  padding-bottom: env(safe-area-inset-bottom);
}


/* Laptop */
@media (min-width: 1367px) and (max-width: 1800px){
  p, .tagline, .worked-with {
    width: 1000px;
  }
}



/* Tablet margins */
@media (min-width: 568px) and (max-width: 1366px){
  .card {
    border-radius: 32px;
  }

  h1 {
    font-size: 40px;
  }
  
  h2 {
    font-size: 32px;
  }  

  p {
    width: auto;
    text-align: left;
    margin: auto;
    margin-left: 52px;
    margin-right: 52px;
  }
  
  .blog-card p {
    margin: 0;
  }
  
  .tagline {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    width: auto;
    margin: auto;
    margin-left: 52px;
    margin-right: 52px;
  }
  
  .intro {
    margin-top: 48px;
    margin-bottom: 48px;
  }
  
  .hereweare {
    margin-bottom: 48px;
  }
  
  .headshot {
    width: 88px;
    height: 88px;
    border-radius: 100px;
  }
  
  .person {
    text-align: center;
    margin: 16px;
  }
  
  .card-margins {
    margin-left: 52px;
    margin-right: 52px;
    margin-bottom: 64px;
  }
  
  .card {
    text-align: left;
    margin: auto;
    margin-top: 100px;
    border-radius: 52px;
    overflow: hidden;
    max-width: 1336px;
    min-height: 300px;
    box-shadow: 0px 16px 52px rgba(0, 0, 0, 0.15);
  }

  .card h2 {
    padding: 24px 52px 0px 52px;
  }
  
  .nodescription h2 {
    padding-bottom: 8px;
  }
  
  .card p {
    padding: 0px 52px 72px 52px;
    width: auto;
  }

  .worked-with {
    margin: 128px auto 0px auto;
    width: 60vw;
  }
  
}


/* Shrink logo */
@media (min-width: 700px) and (max-width: 1000px){
  .logo {
    padding-top: 44vh;
    margin-bottom: -24vh;
    margin-left: 18vw;
    display: block;
    width: 100%;
    height: 17px;
    transform: translate(-47vw, -60%);
  }
  
  .pink, .green {
    width: 76px;
    height: 76px;
  }

  .wordmark {
    width: 345px;
    height: 54px;
    transform: translate(-25%, -40%);
  }
}

/* Glyph only logo */
@media (max-width: 700px){
  .logo {
    display: block;
    width: 100%;
    height: 176px;
    padding-top: 80vh;
    margin-bottom: -50vh;
    margin-left: 32vw;
    margin-right: auto;
    transform: translate(-50%, -60%);
  }

  .wordmark {
    display: none;
  }
  
  .tagline {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    width: 90vw;
    margin: auto;
  }
}

/* Tablet margins */
@media (min-width: 568px) and (max-width: 834px){
  
  
  .card-margins {
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 96px;
  }
  
  p, .tagline {
    margin-left: 32px;
    margin-right: 32px;
  }
  
  .logo {
    transform: translate(-50vw, -60%);
  }
  
  .card {
    border-radius: 32px;
  }
  
  .link-buttons {
    margin-top: 32px;  
    margin-bottom: 0;
  }
  
  .card {
    margin-top: 52px;
  }  
  
  .card p {
    padding: 0px 32px 56px 32px;
    width: auto;
  }  
  
  .card h2 {
    padding: 4px 32px 0px 32px;
  }
  

  .nodescription h1 {
    padding-bottom: 16px;
  }
  
  .logos {
    margin-top: 32px;
  }

  .copyright {
    margin-top: 96px;
    margin-bottom: 96px;
  }
}


/* Phone adaptations */
@media (max-width: 567px) {
  
  body {
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    color: rgb(21, 23, 26);
  }
  
  h1 {
    font-size: 32px;
  }
  
  h2 {
    font-size: 24px;
  }
  
  h3 {
    font-size: 22px;
  }
  
  .footnote {
    font-size: 16px;
    font-weight: 300;
  }
  
  p {
    font-size: 19px;
    font-weight: 300;
    line-height: 1.6;
    width: 90vw;
    text-align: left;
    margin: auto;
  }
  
  .intro {
    margin-top: 48px;
    margin-bottom: 48px;
  }
  
  .hereweare {
    margin-bottom: 48px;
  }
  
  .headshot {
    width: 88px;
    height: 88px;
    border-radius: 100px;
  }
  
  .person {
    text-align: center;
    margin: 16px;
  }
  
  .card-margins {
    margin: 96px 16px 32px 16px;
  }
  
  .card {
    margin-top: 64px;
    border-radius: 20px;
    min-height: 384px;
    box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.15);
  }
  
  .card h2 {
    padding: 0px 16px 0px 16px;
  }
  
  .nodescription h2 {
    padding-bottom: 8px;
  }
  
  .card p, .blog-card {
    padding: 0px 16px 32px 16px;
    width: auto;
  }
  
  .worked-with {
    margin: 96px auto 0px auto;
    font-size: 24px;
    width: 90vw;
  }

  .copyright {
    margin-top: 64px;
    margin-bottom: 64px;
  }
}

@media (max-width: 320px) {
  .tabbar {
    font-size: 15px;
  }
  
  h1 {
    font-size: 28px;
  }
}



@keyframes blur {
  1% {
        filter: blur(0px);
  }
  5% {
        filter: blur(3px);
  }
  13% {
        filter: blur(0px);
  }
  51% {
        filter: blur(0px);
  }
  55% {
        filter: blur(3px);
  }
  63% {
        filter: blur(0px);
  }
}

@keyframes blur-small {
  1% {
        filter: blur(0px);
  }
  5% {
        filter: blur(1px);
  }
  13% {
        filter: blur(0px);
  }
  51% {
        filter: blur(0px);
  }
  55% {
        filter: blur(1px);
  }
  63% {
        filter: blur(0px);
  }
}

@keyframes pink {
  0% {
    transform: translate(0px,0px);
  }
  50% {
    transform: translate(-24px,24px);
  }
  100% {
    transform: translate(0px,0px);
  }  
}

@keyframes green {
  0% {
    transform: translate(-24px,24px);
  }
  50% {
    transform: translate(0px,0px);
  }
  100% {
    transform: translate(-24px,24px);
  }  
}

@keyframes pink-small {
  0% {
    transform: translate(0px,0px);
  }
  50% {
    transform: translate(-6px,6px);
  }
  100% {
    transform: translate(0px,0px);
  }  
}

@keyframes green-small {
  0% {
    transform: translate(-6px,6px);
  }
  50% {
    transform: translate(0px,0px);
  }
  100% {
    transform: translate(-6px,6px);
  }  
}




/* Tablet margins */
@media (min-width: 568px) and (max-width: 1366px){

    @keyframes pink {
      0% {
        transform: translate(0px,0px);
      }
      50% {
        transform: translate(-12px,12px);
      }
      100% {
        transform: translate(0px,0px);
      }  
    }
    
    @keyframes green  {
      0% {
        transform: translate(-12px,12px);
      }
      50% {
        transform: translate(0px,0px);
      }
      100% {
        transform: translate(-12px,12px);
      }  
    }
}

@media (prefers-color-scheme: dark) {
  body, footer {
    background-color: #00001A;
    color: #D6E4FF;
  }

  .card, .blog-card, footer  {
    background-color: rgba(255, 255, 255, 0.1);
  }
    
  .site-nav{
    background-color:rgba(0, 0, 26, 0.7);
  }

  .site-nav-regular,
  .site-nav-regular:hover
  {
    color: white;
  }
  
  .site-nav-regular:hover
  {
      background-color: rgba(256, 256, 256, 0.24);
  }
  
  .site-nav-active {
    color: black;
    background-color: white;
  }
  
  .site-nav-active:hover {
    color: black;
    background-color: white;  
  }

	.card a:link, 
	.card a:visited, 
	.card a:active, 
	.card a:focus,
	.blog-cards a:link, 
	.blog-cards a:visited, 
	.blog-cards a:active, 
	.blog-cards a:focus {
  	text-decoration: none;
  	color: #D6E4FF;
  	outline: 0;
	}
/*
	
  .fromtheblog {
    border-top: 8px solid rgba(215, 228, 255, 0.16);
  }
*/
	
	.card a:hover {
  	text-decoration: underline;
	}  
	  
  A:link {text-decoration: none; color: #02E6A7;}
  A:visited {text-decoration: none; color: #02E6A7;}
  A:active {text-decoration: none; color: #02E6A7;}
  A:hover {text-decoration: none; color: #02E6A7;}
  a:focus {outline: 0;}
  	
  h1 {
    color: #D6E4FF;
  }

  .invertInDarkMode {
   -webkit-filter: invert(1);
   filter: invert(1);    
  }
  
  .hello {
    background-color: #D6E4FF;
    color: black;
  }

  .hello:link {text-decoration: none; color: black;}
  .hello:visited {text-decoration: none; color: black;}
  .hello:active {text-decoration: none; color: black;}
  .hello:focus {outline: 0;} 
  .hello:hover {
    background-color: rgba(215, 228, 255, 0.65);		  
    box-shadow: 0px 16px 52px rgba(0, 0, 0, 0.15);
  }

  .bend path { fill: #00001A; }

  .header, .logos {
   -webkit-filter: invert(1);
   filter: invert(1);    
  }

  .green {
    opacity: 0.9;
  } 
  .pink {
    opacity: 0.9;
  }
}
  
  
  
  
  
  
  
  
  
  
  
´




  
  